* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 90%;
}

.body {
	background-color:#E5EAEE;
}

header {
	color: white;
	background-color: #003680;
	height: 70px;
	display: inline-flex;
	align-items: center;
	width: 100%;
}

header img{
	padding-left: 5%;
	padding-right: 30px;
}

main {
	color: #3C3C3C;
	display: flex;
	flex-flow: column wrap;
	margin: 30px 0px 80px 0px;
	width: 100%;
	align-items: center;
}

.images {
	display: flex;
	flex-flow: row;
	width: 90%;
	justify-content: space-between;
}

article.block {
	width: 45%;
	flex-flow: column;
	background-color: white;
	box-shadow: 0px 5px 5px 0px gray;
}

.block img {
	width: 100%;
}

.figcaption {
	display: flex;
	flex-flow: column;
}

.paragraph {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 90%;
	font-size: 20px;
	margin: 0% 5%;
}

.city {
	color: #59BCDE;
	font-size: 30px

}

#cheaper, #expensive, .city{
	font-weight: bold;
}

#calc {
	width: 90%;
	padding-top: 40px;
	font-size: 19px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

}

.button {
	background-color: #21A6D3;
	padding: 10px 40px; 
	width: 100px;
	border-radius: 15px;
	font-size: 19px;
	color: white;
	text-align: center;
	margin: 10px 0px;
}


footer {
	color: white;
	background-color: #003680;
	height: 60px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

footer p {
	margin: 5px;
}
#result{
	text-decoration: none;
}

@media only screen and (max-width: 930px) {

body {
	font-size: 90%;
}

@media only screen and (max-width: 750px) {
body {
	font-size: 90%;
}

@media only screen and (max-width: 600px) {

body {
	width: 100%;
	font-size: 90%;
}

.images {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
}
article.block {
	width: 70%;
	background-color: white;
	margin-bottom: 20px;
}
